$frontmen_purple: #201e33;
$frontmen_cyan: #03cccb;
$frontmen_orange: #ef632c;

$theme-colors: (
    "dark": $frontmen_purple,
    "primary": $frontmen_purple,
    "secondary": $frontmen_cyan,
    "success": $frontmen_orange,
);